@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

/* Resetting all default margins, padding, and outlines */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* Centering the heading */
h1 {
  text-align: center;
}

/* Styling the table */
table {
  /* Centering the table */
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  /* Setting the table width, border, and shadow */
  width: 60%; 
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64,64,64,.7);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

/* Styling the table cells */
td, th {
  padding: 15px 20px;
  text-align: center;
}

/* Styling the table headers */
th {
  background-color: #333;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

/* Styling the table rows */
tr {
  width: 100%;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

/* Alternating row background color */
tr:nth-child(even) {
  background-color: white;
}